<h1>Home</h1>
<form action="/add_location" method="POST">
    <div>
        <label for="location">Location</label>
        <input type="text" id="location" name="location" required>
    </div>
    <div>
        <label for="adress">Adress</label>
        <input type="text" id="adress" name="adress" required>
    </div>
    <button type="submit">
        Add a location
    </button>
</form>
